/* style.css */

/* Tela de Splash */
*{
    margin: 0%;
    padding: 0%;
}
#splash-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #262521; /* Cor de fundo */
    color: rgb(0, 0, 0); /* Cor do texto */
    font-family: Arial, sans-serif;
    font-size: 2em;
    text-align: center;
  
    /* Animação de fade-in para a tela de splash */
    animation: fadeIn 2s ease-in-out;
  }
  
  /* Animação de fade-in */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Conteúdo Principal */
  #main-content {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
  
    /* Animação de fade-in para o conteúdo */
    opacity: 0;
    animation: fadeInContent 2s ease-in-out forwards;
  }
  
  /* Animação de fade-in para o conteúdo */
  @keyframes fadeInContent {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  